<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper  namespace="fb">
 	<insert id="add"  parameterType="fvo">
 		insert into fboard
 			values(fboard_seq.nextval,#{subject},#{writer},#{content},#{reip},sysdate,0)
 	</insert>
 	<select id="list" resultType="fvo" >
 		select * from fboard order by 1 desc  		
 	</select>
 	<update id="hit" parameterType="int">
<!--  	parameterType은 업데이트 호출 시 바인딩 값으로 넘김 -->
 		update fboard set hit=hit+1 where num=#{num}
 	</update>
 	<delete id="del" parameterType="int">
 		delete from fboard where num=#{num} 	
 	</delete>
<!--  	fdate, hit 제외하고 모두 업데이트 -->
<!--  	<update id="update" parameterType="vo.FboardVO"> -->
 	<update id="update" parameterType="fvo" >
 		update fboard set subject=#{subject},writer=#{writer},content=#{content},reip=#{reip} where num=#{num}
 	</update>
<!--  	select type resultType 필수 -->
 	<select id="detail" parameterType="int" resultType="fvo">
 		select * from fboard where num=#{num}
 	</select>
 </mapper>
